<launch>
    <node pkg="nlink_parser" type="linktrack" name="linktrack">
        <param name="port_name" value="/dev/ttyUSB0"/>
        <param name="baud_rate" value="921600"/>
    </node>
    <node pkg="spacurs" type="spacurs.py" name="spacurs" output="screen">
        <param name="port" value="/dev/ttyUSB1"/>
        <param name="baud_rate" value="115200"/>
        <param name="remote_nodes" value="['1', '2']"/>
    </node>
    <node pkg="spacurs" type="measurement.py" name="measurement"/>
    <node pkg="spacurs" type="visualizer.py" name="visualizer">
        <param name="mode" value="auto"/>
    </node>
</launch>
