<launch>
    <node pkg="nlink_parser" type="linktrack" name="linktrack0">
        <param name="port_name" value="/dev/ttyUSB0"/>
        <param name="baud_rate" value="921600"/>
    </node>
    <node pkg="nlink_parser" type="linktrack" name="linktrack1">
        <param name="port_name" value="/dev/ttyUSB1"/>
        <param name="baud_rate" value="921600"/>
    </node>

    <node pkg="spacurs" type="usv_commander.py" name="usv_commander">
        <param name="port" value="/dev/ttyACM0"/>
        <param name="baud_rate" value="115200"/>
    </node>
    <node pkg="spacurs" type="usv_pose_estimator.py" name="usv_pose_estimator"/>
</launch>